.landing-container {
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
  align-items: center;
  color: #eee2ee;
  padding: 0 32px;
  font-family: "Bangers", cursive;
  margin: 0;
  flex-wrap: wrap;
}
.landing-header {
  font-size: 92px;
  letter-spacing: 4px;
  margin: 0;
}
.typewriter-container {
  font-size: 64px;
  letter-spacing: 4px;
}
.hero-image {
  width: 40vw;
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-image {
    width: 80vw;
  }
  .landing-header {
    margin-top: 32px;
    text-align: center;
  }
  .typewriter-container {
    text-align: center;
  }
}
