.landing-container {
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
  align-items: center;
  color: #282980bd;
  padding: 0 32px;
  font-family: "Bangers", cursive;
  margin: 0;
  flex-wrap: wrap;
}
.landing-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 88px;
  letter-spacing: 3px;
  margin: 0;
  text-shadow: 1px 1px 0 black;
}
.typewriter-container {
  font-size: 95px;
  font-weight: 600;
  letter-spacing: 3px;
}
.monkey-image {
  width: 40vw;
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }
  .monkey-image {
    width: 80vw;
  }
  .landing-header {
    margin-top: 32px;
    text-align: center;
  }
  .typewriter-container {
    text-align: center;
  }

  .landing-header {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 75px;
    letter-spacing: 3px;
    margin: 0;
  }
  .typewriter-container {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 3px;
  }
}
