.landing-container {
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
  align-items: center;
  color: #39445a;
  padding: 0 32px;
  font-family: "Bangers", cursive;
  margin: 0;
  flex-wrap: wrap;
}
.landing-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  
  margin: 0;
  text-shadow: 1px 1px 0 black;
}
.typewriter-container {
  font-size: 85px;
  font-weight: 600;
  letter-spacing: 3px;
}
.hero-image {
 width: 40vw;
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .hero-image {
    width: 70vw;
  }

  .landing-header {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 55px;
    letter-spacing: 1px;
   
    text-align: center;
  }
  .typewriter-container {
    font-size: 50px;
    font-weight: 600;
    
    text-align: center;
  }
  
}
