body {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #DFDCE3;
}

@media (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
}
