body {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

@media (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
}
