.footer-container {
  display: flex;
  justify-content: center;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
  z-index: 99;
}

.footer-link {
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: #c9b8f0;
  border-radius: 50px;
  margin: 20px 10px 20px 10px;
  text-align: center;
  box-shadow: 1px 4px 2px 2px #c9b8f0;
  line-height: 61px;
}

.footer-header {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.4);
}

.fa-instagram {
  color: #e84396;
}

.fa-linkedin {
  color: #176e9c;
}

.fa-twitter {
  color: #0097e6;
}

.fa-github {
  color: #1d2020;
}

@media (max-width: 650px) {
  .footer-link {
    font-size: 25px;
    margin: 18px 8px 18px 8px;
  }
  .footer-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
  }
}
