.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
  align-items: center;
  background-color: #39445a;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0);
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-right {
  margin-right: 60px;
}
.nav-button {
  
  padding: 10px;
  background: #39445a;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgb(10, 20, 44);
  cursor: pointer;
  transition: all 100ms ease-in-out;
  display: flex;
  flex-direction: row;
}
.nav-button:hover {
  transform: scale(1.01);
}


.nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 10px;
}

.logo {
  background: url("../../Assets/logo2.png");
  height: 57px;
  width: 180px;
  margin-left: 22px;
  background-repeat: no-repeat !important;
  position: sticky;
  margin-top: 10px;
}


@media (max-width: 650px) {
  
  .logo {
    height: 48px;
    font-size: 25px;
    margin: 0 10px;
  }
  .nav-right {
    margin-right: 30px;
  }
  .nav-button {
    border-radius: 40px;
  }
  .nav-link {
    display: none;
    visibility: hidden;
  }
}
