.nav-container {
  display: flex;
  height: 72px;
  align-items: center;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.26);
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.flash-logo-text {
  background: url("../../Assets/logo2.png") !important;
  height: 57px;
  width: 180px;
  margin-left: 22px;
  background-repeat: no-repeat !important;
  position: sticky;
  margin-top: 10px;
}
.github-link {
  background-color: #c9b8f0;
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-left: 50em;
  border: 2px solid #5f0a87;
  border-radius: 8px;
  padding: 2px;
}

@media (max-width: 650px) {
  .github-link {
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 14em;
    padding: 5px;
  }

  .flash-logo-text {
    height: 48px;
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 0.2px;
    margin: 0 10px;
    color: rgb(0, 0, 0);
  }
}
